* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: roboto;
}

body {
  background: hsl(190, 13%, 36%);
  background: black;
  position: relative;
}

button {
  color: black;
  background-color: hsl(180, 29%, 78%);
  padding: 9px 20px;
  border-radius: 10px;
  font-size: 20px;
}

#player {
  height: 100%;
  width: 100%;
}

.playerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute; */
  left: 0px;
  top: 0px;
  height: 90vh;
  width: 100vw;
}
.buttons {
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  bottom: 0px;
}

header {
  padding: 10px 30px;
  position: absolute;

  left: 40px;
  top: 30px;
  background-color: hsl(189, 22%, 46%);
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.8);

  padding: 9px 20px;
  border-radius: 10px;
  font-size: 20px;
}
